*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --sorrell-brown: #cebc88;
    --black-olive: #212915;
    --go-ben: #76724c;
    --asparagus: #7da563;
    --woodland: #3f552a;
    --chalet-green: #53733d;
    --paarl: #9e5325;
    --siam: #5a5f55;
    --lemon-grass: #94948c;
}
body{
    height: 100vh;
    font-family: tahoma, arial, sans-serif;
    background: var(--black-olive);
    
    
}


h1{
    color: var(--siam);
    font-size: 6vmax;
    
}
h2{
    color: var(--siam);
    font-size: 4vmax;
}
h3{
    color: #5a5f56;
    font-size: 3vmax;
}


header{
   
    position: relative;
    background-color: var(--siam);
    overflow: hidden;
    border-radius: 12px;
    height: auto;
}

header p{
    width: 80%;
    color: #d5d8d3;
}
header h1{
    margin-left: 20px;
}
 header .top-card {
    z-index: 1;
    bottom: -10px;
    right: 10%;
    color: antiquewhite;
    background-color: #1d37f8;
    position: absolute;
    overflow: none;
}
.logo{
    color: #5a5f56;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo object{
    color: #1d37f8;
}
.logo img{
    color: aliceblue;
}
.wrapper{
    border-radius: 12px;
    overflow: hidden;
}
nav{
    padding: 0 2%;
    background-color: #162421;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li {
    display: inline;
    
}
.nature{
    background-image: url(/imagens/water.jpg);
    width: 100%;
    
    height: 400px;
    max-height: 400px;
    animation: nature 10s ease 0s infinite alternate none;
    
}

@keyframes nature {
    0% {
      background-position: 0% 50%;
    }
  
    100% {
      background-position: 100% 50%;
    }
  }
nav a{
    padding: 20px 20px;
    color: rgb(47, 73, 95);
    
}
.container{
    margin: 5% auto;
    max-width: 1024px;
    
}
.topo{
    width: 100%;
}
.container-cards{
    
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-cards .cards{
    width: 100%;
    display: flex;
    justify-content: space-around;

    bottom:16%;
    letter-spacing: 2px;
}
.card{
    
    width: 25%;
    height: auto;
}

.card img{
    border-radius: 12px;
    width: 100%;
}
.card h3{
    font-size: 3vh;
}

.container-marquee{
    background-color: #2c2d35;;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 240px;
    max-height: 500px;
    position: relative;
    
    
}
.marquee-description{
    color: #9b9b9c;
    padding: 20px;
    width:50%;
}
.marquee-images{
    width: 50%;
    position: relative;
}
.marquee {
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;
    
    position: relative;
}
.marquee::-webkit-scrollbar{
    display: none;
}
.slider {
    position: relative;
    
   
}
.scroller{
    padding: 30px 0;
    z-index: 1;
    overflow: visible;
    position: absolute;
    height: 100%;
    justify-content: space-between;
    right: 0%;
    display: flex;
    flex-direction: column;
    
}
.scroller p{
    writing-mode: vertical-rl;
    color: #f5b732;
    text-orientation: mixed;
}
.scroller .arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroller img{
    width: 10px;
    height: auto;
    filter: invert(73%) sepia(97%) saturate(431%) hue-rotate(335deg) brightness(99%) contrast(95%);
}
.slider img{
    
    width: 100%;
    margin: 0;
}

@keyframes slider {
    0%   { top:   0em }
    100% { top: -54em }
}

.section03-maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.over-section03{
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 30px;
}



footer{
    color: #d5d8d3;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:  #5a5f56;;
    height: 150px;
    align-items: center;
    justify-content: center;
    
    
}
footer a{
    color: #162421;
}
scroll {
	position: absolute;

	/*-webkit-animation: scroll 15s linear infinite;
	-moz-animation: scroll 15s linear infinite;
	-ms-animation: scroll 15s linear infinite;
	-o-animation: scroll 15s linear infinite;
	animation: scroll 15s linear infinite; */
}
