*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --sorrell-brown: #cebc88;
    --black-olive: #25301c;
    --go-ben: #76724c;
    --asparagus: #7da563;
    --woodland: #3f552a;
    --chalet-green: #53733d;
    --paarl: #9e5325;
    --siam: #5a5f55;
    --lemon-grass: #94948c;
}
body{
    height: 100vh;
    font-family: tahoma, arial, sans-serif;
    background-image: url(/media/images/bg01.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
    
}
.blur{
    
    backdrop-filter: blur(4px);
}

h1{
    color: var(--asparagus);
    font-size: 6vmax;
    
}
h2{
    color: var(--siam);
    font-size: 4vmax;
}
h3{
    color: #5a5f56;
    font-size: 3vmax;
}


header{
   
    position: relative;
    background-color: var(--siam);
    
    border-radius: 12px;
    height: auto;
}
header img{
    object-fit: cover;
    object-position: 100% 40%;
    width: 100%;
    height: 300px;
}


header p{
    width: 80%;
    color: #d5d8d3;
}
header h1{
    margin-left: 20px;
}
.top-card {
    display: flex;
    align-items: flex-end;
    height: 80px;
    z-index: 3;
    bottom: -4%;
    right: 2%;
    color: antiquewhite;
    background-color: var(--paarl);
    position: absolute;
}
.logo{
    color: #5a5f56;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo object{
    color: #1d37f8;
}
.logo img{
    color: aliceblue;
}
.wrapper{
    
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
nav{
    margin-top: 30px;
    padding: 0 2%;
    background-color: var(--paarl);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li {
    display: inline;
    
}
nav a{
    padding: 20px 20px;
    color: var(--lemon-grass);
    
}
.container{
    margin: 1em auto 2em;
    max-width: 1024px;
    
}

.container-cards{
    
    position: relative;
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-cards .cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom:16%;
    letter-spacing: 2px;
}
.card{
    

    width: 25%;
    height: auto;
}


.card img{
    border-radius: 12px;
    width: 100%;
}
.card h3{
    font-size: 3vh;
}

.container-marquee{
    
    background-color: #2c2d35;;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 240px;
    max-height: 40vw;
    position: relative;
    
    
}
.marquee-description{
    color: #9b9b9c;
    padding: 20px;
    width:50%;
}
.marquee-description p{
    font-size: 3em;
    letter-spacing: 1px;
}
.marquee-images{
    width: 50%;
    position: relative;
}
.marquee {
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;
    
    position: relative;
}
.marquee::-webkit-scrollbar{
    display: none;
}
.slider {
    position: relative;
    
   
}
.scroller{
    padding: 30px 0;
    z-index: 3;
    overflow: visible;
    position: absolute;
    height: 100%;
    justify-content: center;
    right: 0;
    display: flex;
    flex-direction: column;
    
}
.scroller p{
    writing-mode: vertical-rl;
    color: rgb(224, 208, 117);
    text-orientation: mixed;
}
.scroller .arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow{
    display: flex;
    flex-direction: column;
    background: var(--black-olive);
    width: 26px;
    height: 120px;
    justify-content: space-around;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
    
}
.scroller img{
    width: 10px;
    height: auto;
    filter: invert(73%) sepia(97%) saturate(431%) hue-rotate(335deg) brightness(99%) contrast(95%);
}
.slider img{
    
    width: 100%;
    margin: 0;
}

@keyframes slider {
    0%   { top:   0em }
    100% { top: -54em }
}

.section03-maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.over-section03{
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 30px;
}



footer{
    color: #d5d8d3;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:  #5a5f56;;
    height: 150px;
    align-items: center;
    justify-content: center;
    
    
}
footer a{
    color: #162421;
}
scroll {
	position: absolute;

	/*-webkit-animation: scroll 15s linear infinite;
	-moz-animation: scroll 15s linear infinite;
	-ms-animation: scroll 15s linear infinite;
	-o-animation: scroll 15s linear infinite;
	animation: scroll 15s linear infinite; */
}

.mobile-menu{
    margin: auto;
    z-index: 4;
    display: none;
    margin: auto;
    position: fixed;
    bottom: 30px;
    width: 100%;
    
}
.float-menu{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16242150;
    border-radius: 12px;
    width: 70%;
    height: 60px;
}
.float-menu li{
    display: flex;
    align-items: center;
}
.float-menu li a{
    border-radius: 8px;
    background-color: var(--paarl);
    padding: 10px;
    

}
.float-menu img{
    width: 20px;
}

@media screen and (max-width:767px) {
        .mobile-menu{
            display: flex;
        }
        nav{
            display: none;
        }
}